@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

header{
    height: 100vh;
    width: 100%;
    background-position: center;
}

h1:hover{
    color:#0e6d4b;
}

header nav{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 12;
}

.navbar{
    width: 90%;
    display: flex;
    margin: 20px auto 0 auto;
    align-items: center;
    justify-content: space-between;
}

header nav .logo{
    height: 80px;
    width: 150px;
}

.logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

header .media-icons{
    display: inline-block;
    background-color: #dbe7f3;
    border-radius: 50px;
    align-items: center;
}

.media-icons a{
    margin-top: 8px;
    font-size: 40px;
    opacity: 0.5;
    color: #6e5017;
    transition: all 0.3s ease;
    align-items: center ;
    padding-left: 20px;
    padding-right: 20px;
}

.media-icons a:hover{
    opacity: 2;
    transform: scale(2);
}

nav .menu{
    display: flex;
}

nav .menu li{
    list-style: none;
    margin: 0 10px;
}

nav .menu a{
    color: #2c3e50;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
}

nav .menu a:hover{
    color: #159b64;
}

nav .search-box{
    position: relative;
    height: 40px;
    width: 250px;
}

.search-box input[type="text"] {
    position: absolute;
    font-size: 18px;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    outline: none;
    color: #c99b04;
    border: 2px solid #2c3350;
    background: #f2f2f2;
    padding: 0 10px 0 40px;
}

.search.box a{
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 20px;
    color: #2c3350;
    transform: translateY(-50%);
    border-right: 2px solid #2c3350;
    padding: 0 5px 0 0;
}

.text-content{
    position: absolute;
    top: 33%;
    left: 7%;
    z-index: 12;
}

main .text-content .text{
    font-size: 27px;
    color: #2c3350;
}

main .text-content .name{
    color:#0e6d4b;
    font-size: 75px;
    font-weight: 600;
    margin: -20px 0 0 -3px;
}

main .text-content .job{
    color: #0e6d4b;
    font-size: 40px;
    margin: 5px 0;
    margin-top: -4px;
    display: flex;
}

.buttons{
    margin: 20px 0 0 50px;
}

.text-content .buttons button{
    outline: none;
    margin: 0 10px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color: rgb(241, 235, 231);
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(135deg, #011310 10%, #545734 100%);
}

.buttons button:hover{
    transform: scale(1.2);
}

.content .picture img{
    position: absolute;
    height: 70%;
    bottom: 100px;
    right: 80px;
    position: absolute;
}

main .text-content .typing-text{
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #120f07;
    animation: typing 5s steps(10) infinite;
}

@keyframes typing{
    0%{
        width: 0ch;
    }

    25%{
        width: 50ch;
    }

    50%{
        width: 50ch;
    }

    75%{
        width: 50ch;
    }

    100%{
        width: 0ch;
    }
}

.text-content .job .one{
    color: #0e6d4b
}

.text-content .job .two{
    color:#0e6d4b;
}

.text-content .job .three{
    color: #0e6d4b;
}